//- template.pug
doctype html
html
  head
    style
      include style.css
  body
    div.resume
      div.header
        h1.name #{resume.basics.name}
        p.basics #{resume.basics.label} - #{resume.basics.phone} - #{resume.basics.location.address}
      div.section.skills
        each skill in resume.skills
          div
          span <b>#{skill.name}</b>: 
          span <p>#{skill.keywords}</p>
      div.section
        h2 Work Experience
        each job in resume.work
          p <b>#{job.company}</b> - #{job.position}
          p #{job.summary}
          ul
          each highlight in job.highlights
            li #{highlight}
      div.section
        h2 Education Experience
        each school in resume.education
          p #{school.institution} #{school.startdate} - #{school.endDate}
          p #{school.studyType} <i>#{school.area}</i>